body {
    background: url("/static/index_background.jpg");
    background-position: center;
    font-family: Courier, Courier New, monospace;
}

#main_title{
    color: rgb(0, 0, 0);
    text-align: center;
    background-color: rgba(238, 226, 201, 0.295);
}

#footer{
    text-align: center;
    background-color: rgba(255, 255, 255, 0.192);
    display: none;
}

#flash {
    text-align: center;
}

.login {
    display: none;
    text-align: center;
    background-color: rgba(105, 102, 94, 0.418);
}

.registration {
    display: none;
    text-align: center;
    background-color: rgba(105, 102, 94, 0.418);
}

#login, #register {
    color: rgb(0, 0, 170);
    font-size: 18px;
}

label{
    display:inline-block;
    width:100px;
}

#button {
    border-radius: 5px;
    background-color: rgba(255, 247, 228, 0.849);
}