<!DOCTYPE html>
<html lang="en">

<head>
    <title>Add Book and Review</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> 
    {% load static %}
    <link rel="stylesheet" href="{% static "add_book.css" %}">
    <script type="text/javascript" src="{% static "add_book.js" %}"></script>
</head>

<body>
    <div class="container">
        <div class="panel" id="top_bar">
            <a href="/books">Home</a>
            <a href="logout">Logout</a>
        </div>
        <div class="col-md-2"></div>
        <div class="panel col-md-8" id="main">
        <h2>Add a New Book Title and a Review:</h2>
        <form action="add_book" method="post">
            {% csrf_token %}
            <label>Book Title:</label>
            <input type="text" name="book_title"><br>
            <br>
            <label>Author:</label>
            <input type="text" name="author"> 
            <br><br>
            <label>Review:</label>
            <textarea name="review"></textarea> 
            <br><br>
            <label>Rating:</label>
            <select name="rating">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
            stars.
            <br><br><input type="submit" value="Add Book and Review" id="btn">
            <p>-</p>
        </form>
        </div>
    </div>
</body>

</html>