<!DOCTYPE html>
<html lang="en">

<head>
    <title>Add Book and Review</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
    <div class="container">
        <div style="text-align: right">
            <a href="/books">Home</a>
            <a href="logout">Logout</a>
        </div>

        <h2>Add a New Book Title and a Review:</h2>
        <form action="add_book" method="post">
            {% csrf_token %}
            Book Title:
            <input type="text" name="book_title">
            <br><br><p>Author:</p>
            Choose from the list:
            <select name="author">
                <option value="volvo">Volvo</option>
                <option value="saab">Saab</option>
                <option value="mercedes">Mercedes</option>
                <option value="audi">Audi</option>
            </select>
            <br>Or add a new author:
            <input type="text" name="author"> 
            <br><br>Review:
            <textarea name="review"></textarea> 
            <br><br>Rating:
            <select name="rating">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
            stars.
            <br><br><input type="submit" value="Add Book and Review">
        </form>
    </div>
</body>

</html>