<!DOCTYPE html>
<html lang="en">

<head>
    <title>Books Home</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> 
    {% load static %}
    <link rel="stylesheet" href="{% static "books.css" %}">
    <script type="text/javascript" src="{% static "books.js" %}"></script>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <p id="logged_in_as">Logged in as: {{request.session.login_status.name}} <a href="logout">Logout</a></p>
                <h2 id="welcome">Welcome</h2>
            </div>
            <div class="col-md-6" id="add_logout">
                <br>
                <br>
                <a class="add_and_logout"  href="add">Add Book Review</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 panel box">
                <br>
                <h3>Recent Book Reviews:</h3>
                <br> 
                {% for review in recent_reviews %}
                <a href="/book/{{review.belong_to.id}}">
                    <h4>{{review.belong_to.title}}</h4>
                </a>
                <p>Rating: {{review.rating}}</p>
                <p>
                    <a href="/user/{{review.reviewed_by.id}}">{{review.reviewed_by.name}}</a> says: {{review.message}}</p>
                <p>Posted on: {{review.updated_at}}</p>
                <br> 
                {% endfor %}
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-5 panel box">
                <br>
                <h3>Other Books with Reviews:</h3>
                {% for book in all_books %}
                <a href="/book/{{book.id}}">
                    <p>{{book.title}}</p>
                </a>
                {% endfor %}
            </div>
        </div>
    </div>
</body>

</html>