<!DOCTYPE html>
<html lang="en">

<head>
    <title>Books Home</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<style>
    body {
        background: repeating-linear-gradient( -45deg,
        #ffe77b,
        #f3d982 2px,
        #fff098 2px,
        #f8e16b 4px);
    }
</style>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <p>Logged in as: {{request.session.login_status.name}}</p>
                <h2>Welcome</h2>
            </div>
            <div class="col-md-6">
                <br>
                <br>
                <a href="add">Add Book and Review</a>
                <a href="logout">Logout</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <br>
                <h3>Recent Book Reviews:</h3>
                <br> {% for review in recent_reviews %}
                <a href="/book/{{review.belong_to.id}}">
                    <h4>{{review.belong_to.title}}</h4>
                </a>
                <p>Rating: {{review.rating}}</p>
                <p>
                    <a href="/user/{{review.reviewed_by.id}}">{{review.reviewed_by.name}}</a> says: {{review.message}}</p>
                <p>Posted on: {{review.updated_at}}</p>
                <br> {% endfor %}

            </div>
            <div class="col-md-6">
                <br>
                <h3>Other Books with Reviews:</h3>
                {% for book in all_books %}
                <a href="/book/{{book.id}}">
                    <p>{{book.title}}</p>
                </a>
                {% endfor %}
            </div>
        </div>
    </div>
</body>

</html>