<!DOCTYPE html>
<html lang="en">

<head>
    <title>Welcome</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<style>
    body {
        background: repeating-linear-gradient( -45deg,
        #ffe77b,
        #f3d982 2px,
        #fff098 2px,
        #f8e16b 4px);
    }

    #flash {
        text-align: center;
    }
</style>

<body>
    <div class="container">
        <h1 style="text-align: center">Welcome to the book review!</h1>
        <br> {% for message in messages %}
        <p id="flash">{{ message }}</p>
        {% endfor %}
        <br>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-5 panel panel-info">
                <h2>Register</h2>
                <form action="add_user" method="post">
                    {% csrf_token %} Name:
                    <input type="text" name="name">
                    <br> Alias:
                    <input type="text" name="alias">
                    <br> Email:
                    <input type="text" name="email">
                    <br> Password:
                    <input type="password" name="password">
                    <br>
                    <p>Password must be at least 8 characters long.</p>
                    Confirm Password:
                    <input type="password" name="confirm_password">
                    <br>
                    <input type="submit" value="Register">
                </form>
                <br>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-5 panel panel-success">
                <h2>Login</h2>
                <form action="login" method="post">
                    {% csrf_token %} Email:
                    <input type="text" name="email">
                    <br> Password:
                    <input type="password" name="password">
                    <br>
                    <input type="submit" value="Login">
                </form>
                <br>
            </div>
        </div>
        <p style="text-align: center">A simple project build by Jimmy Chen using Python and Django with SQLite</p>
    </div>
</body>

</html>