<!DOCTYPE html>
<html lang="en">

<head>
    <title>Book Details</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<style>
    body {
        background: repeating-linear-gradient( -45deg,
        #ffe77b,
        #f3d982 2px,
        #fff098 2px,
        #f8e16b 4px);
    }
</style>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <p>Logged in as: {{request.session.login_status.name}}</p>
            </div>
            <div class="col-md-2">
                <a href="/books">Home</a>
                <a href="/logout">Logout</a>
            </div>
        </div>
        <div class="row">
            <h3>User Alias: {{user_info.alias}}</h3>
            <p>Name: {{user_info.name}}</p>
            <p>Email: {{user_info.email}}</p>
            <p>Total reviews: {{review_count}}</p>
            <br>
            <h4>Posted reviews on the following books:</h4>
            {% for review in user_reviews %}
                <a href="/book/{{review.belong_to.id}}"><p>{{ review.belong_to.title }}</p></a>
            {% endfor %}
        </div>
    </div>
</body>

</html>