<!DOCTYPE html>
<html lang="en">

<head>
    <title>Book Details</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> 
    {% load static %}
    <link rel="stylesheet" href="{% static "userdetail.css" %}">
    <script type="text/javascript" src="{% static "userdetail.js" %}"></script>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <p id="logged_in_as">Logged in as: {{request.session.login_status.name}} <a href="/logout">Logout</a></p>
            </div>
            <div class="col-md-5" id="home_button_box">
                <a class="panel" href="/books" id="home_button">Home</a>
            </div>
        </div>
        <div class="row">
            <div class="panel col-md-4 box">
            <h3>User Alias: {{user_info.alias}}</h3>
            <h3>Name: {{user_info.name}}</h3>
            <h3>Email: {{user_info.email}}</h3>
            <h3>Total reviews: {{review_count}}</h3>
            <br>
            </div>
            <div class="col-md-1"></div>
            <div class="panel col-md-5 box">
            <h4>Posted reviews on the following books:</h4>
            {% for review in user_reviews %}
                <a href="/book/{{review.belong_to.id}}"><p>{{ review.belong_to.title }}</p></a>
            {% endfor %}
            </div>
        </div>
    </div>
</body>

</html>